---
name: build-ios

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v6.0.0
        with:
          fetch-depth: '1'
          submodules: 'true'
          # submodules: 'recursive'

      - name: read python version
        id: python-version
        run: |
          echo "python_version=$(cat .python-version)" >> $GITHUB_ENV

      - uses: actions/setup-python@v6.0.0
        with:
          python-version: ${{ env.python_version }}
